@charset="UTF-8";

*{
	margin:0;
	padding:0;
}

body{
	     background-color:#F4BA32;
		 color: rgba(0, 0, 0 , 1);/* colocando a cor da letra totalmente preta*/
	     font-family: Arial, sans-serif;

	}

h1{
text-align:center;		
		
	}
	
#nav img{
	
	width:248px;
	margin-left:2px;
	
}
	
	
#logbox{
	background-color: #1992b7;
	width: 380px;
	height: 260px;
	margin: 50px auto 0px;
	border-radius: 5px;

	
}
#logbox1{
	width: 360px;
	height: 240px;
	background-color:#fdfdfd;
	position: absolute;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	overflow: hidden;
	
	
}
#logbox2{
	background-color: #FD7900;
	height: 45px;
	text-align: center;
	font: bold 14px/45px sans-serif;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #fafbfc;
	border-bottom: 1px solid white;
	box-shadow: 1px 0px 3px black;
	color:#555555;
	text-shadow:1px 0px 1px white;
}
.input-div{
	margin:20px 20px 20px 20px;
	height:40px;
	padding:5px;
	background-color:#f2f5f7;
	border-radius:3px;
	
	
}
.input-div input{
	width:300px;
	height:35px;
	padding-left:5px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
	outline: none;
	
}
.input-div:hover{
		background-color:#e0f1fc;
}
.input-div:hover input{
		border-color:#7dc6dd;
}
#input-senha{
		margin-top: -10px;
}
#botao{
		width:310px;
		margin-left:25px;
}
#botao1{
		float: center;
		padding:5px 15px;
		font: bold 12px sans-serif;
		border-radius:20px;
		text-shadow:0px 1px 0px white;
		border:1px solid #9eb9c3;
		color:#527988;
		box-shadow:0px 0px 10px #c9c9c9;
		
}






#botao1:hover{
	cursor:pointer;
}
#tudo{
 background-image:url(images/logo.png);
 width:100%;
 height:992px;
}
header#cabecalho img#icone{/* formata a figura icone na pagina*/
	position: realative;
	width: 100%;
	height: 100%;
	margin-left: 0%;
	
}
header#cabecalho {
	/*border-bottom: 1px #606060 solid;borda inferior largura cor estilo*/
	height: 20%;/* altura do cabecalho*/
}




#nav{
	margin:0;
	padding:0;
	float:left;

}
#nav li{
	list-style:none;
	background:#fff;
	width:250px;
	border-bottom: 1px solid #666;
	
	
}


#nav li a{
display:block;
padding:8px;
border-left:4px solid #444 ;
text-decoration:none;
box-shadow: 2px 2px 5px #ccc;
color:#555;	
	
}

#nav li a:hover{
border-left:4px solid #069;
background:#f8f8f8;
}

#nav li ul{
display:none;
	
}
#nav li:hover ul{
display:block;
	
}

#nav li:hover ul li{
background:#333;
	
}
#nav li:hover ul li a{
color:#ccc;
	
}
#nav li:hover ul li a:hover{
	background:#222;
	border-left:4px solid #900;
	
}
section#corpo{/*configura uma seção*/
	background-color:#f8f8f8;
	display:block;/*para separar a seção ela dever esta em bloco*/
	width:75%;/*largura da seção*/
	float: center;/*flutuara a esquerda*/
	margin-left:260px;
	margin-top:10px;
	border: 1px solid #606060;
	padding: 10px;
}

p{
	  text-align:justify;	
	  text-indent: 50px;
	
	}

table#cad td{
	vertical-align: top;
}
table#cad {
	width:60%;
}
	
table td{
	width:6px;
}


.rola{
  background-color: white;		
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

